.flex{
    display: flex;
  }
  
  #nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0972ba;
    /* border-bottom: #0972ba 5px solid; */
  }
  #logoandname{
    justify-content: center;
    height: 10vh;
    align-items: center;
  }
  img{
    height: 50%;
  }
  #pocket{
    width: 30vw;
  }
  #gadgetimg{
    width: 30vw;
    
  }
  h6{
    margin: 0;
    text-align: center;
  }
  #actions{
    width: 100%;
    display: flex;
    justify-content: right;
  }
  #gadgetInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #gadgetBox{
    background-color: #0972ba;
    width: 30vw;
    padding: 1%;
    border-radius:3%;margin: 5%;
    scale: 0.9;
    
  }
  h3{
    margin: 0;
  }
  #welcomeh1{
    margin-bottom:5px ;
  }
  button{
    background-color: #fdd404;
    border: none;
    width: 100%;
    height: 3em;
  }
  #welcomepage{
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  #gadgetsgrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2%;
    padding: 2%;

  }
  #gadgetEntity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0972ba;
  }
  #imgdiv{
    height: 100px;
    width: 100px;
    background-color: white;
  }
  /* Homepage.jsx */
  #Homepage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  #bg1{
    position: absolute;
    top: 50%;
    left: 78%;
  }
  /* AddGadgetForm.jsx */
#AddGadgetFormContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #AddGadgetForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0972ba;
    padding: 10% 70%;
    scale: 1.3;
  }
  input{
    padding: 2%;
  }
  #addentitybtn{
    width:100px
  }

  #imgdiv img{
    height: 100%;
    width: 100%;
  }